{% extends "base.html" %}
{% block content %}

{% if error %}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-xs-12 col-md-12">
    <form method="post" action="/editpost/{{ post.key().id() }}">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <p class="text-center">Edit Blog post</p>
        </div>
        <div class="panel-body">
            <input type="hidden" name="post_id" value="{{ post_id }}">
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" value="{{ subject }}">
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea style="height:400px;" id="content" name="content" class="form-control">{{ content }}</textarea>
            </div>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-default">Edit</button>
          &nbsp;&nbsp;
          <a href="/home" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
