{% extends "base.html" %}
{% block content %}

{% if error %}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>{{ post.subject.replace('\n', '<br>') | safe }}</h1>
      </div>
      <div class="panel-body">
        <p>{{ post.content.replace('\n', '<br>') | safe }}</p>
      </div>
      <div class="panel-footer">
        <span class="text-success">Last modified : {{ post.last_modified.strftime("%d/%b/%Y (%I:%M %p)") }}</span>
        &nbsp;&nbsp;
        {% if post.created_by_user != user.username %}
        <a href="/like/{{ post.key().id() }}">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          &nbsp;{% if post.total_likes == None or post.total_likes == 0 %} 0
          {% else %} {{ post.total_likes }}{% endif %} <span>likes<span>
        </a>
        {% else %}
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          &nbsp;{% if post.total_likes == None or post.total_likes == 0 %} 0
          {% else %} {{ post.total_likes }} {% endif %} <span>likes<span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a href="#comments">
          <span class="glyphicon glyphicon-comment" aria-hidder="true"></span>
          &nbsp; comment
        </a>

        &nbsp;&nbsp;

        {% if user %}
          {% if user.username == post.created_by_user %}
            <a class="btn btn-warning" href="/editpost/{{ post.key().id() }}">Edit</a>
            &nbsp;&nbsp;
            <a class="btn btn-danger" href="/deletepost/{{ post.key().id() }}">Delete</a>
          {% endif %}
        {% endif  %}

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <form action="/comment/{{ post.key().id() }}" method="post">
    <div class="panel panel-default">
      <div class="panel-body">
        <textarea class="form-control" style="height:100px;" name="comment"></textarea>
      </div>
      <div class="panel-footer text-right">
        <button type="submit" class="btn btn-primary">Post Comment</button>
      </div>
    </div>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12" id="comments">
    <h3>Comments</h3>
    <hr>
  </div>
</div>

{% for comment in comments %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <p>
          <span class="text-left">Posted by : {{ comment.comment_by_user }}</span><br>
          <span class="text-right">Posted time : {{ comment.created_date_time.strftime("%b %d, %Y") }}</span>
        </p>
      </div>
      <div class="panel-body">
        <p>{{ comment.comment.replace('\n', '<br>') | safe }}</p>
      </div>
      <div class="panel-footer">
        Last modified : {{ comment.last_modified.strftime("%d/%b/%Y (%I:%M %p)") }}
        &nbsp;&nbsp;
      {% if user %}
        {%  if comment.comment_by_user == user.username %}

            <a class="btn btn-warning" href="/editcomment/{{ comment.key().id() }}">Edit</a>
            &nbsp;&nbsp;
            <a class="btn btn-danger" href="/deletecomment/{{ comment.key().id() }}">Delete</a>

        {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
